<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zefu.business.mapper.BusCommandOptionMapper">
    
    <resultMap type="BusCommandOption" id="BusCommandOptionResult">
        <result property="id"    column="id"    />
        <result property="equipmentSelfId"    column="equipment_self_id"    />
        <result property="commandNo"    column="command_no"    />
        <result property="startAddress"    column="start_address"    />
        <result property="dataLength"    column="data_length"    />
        <result property="crc"    column="crc"    />
        <result property="moduleId"    column="module_id"    />
        <result property="sendBuff"    column="send_buff"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBusCommandOptionVo">
        select id, equipment_self_id, command_no, start_address, data_length, crc, module_id, send_buff, status, create_by, create_time, update_by, update_time, remark from bus_command_option
    </sql>

    <select id="selectBusCommandOptionList" parameterType="BusCommandOption" resultMap="BusCommandOptionResult">
        <include refid="selectBusCommandOptionVo"/>
        <where>  
            <if test="equipmentSelfId != null  and equipmentSelfId != ''"> and equipment_self_id = #{equipmentSelfId}</if>
            <if test="commandNo != null  and commandNo != ''"> and command_no = #{commandNo}</if>
            <if test="startAddress != null  and startAddress != ''"> and start_address = #{startAddress}</if>
            <if test="dataLength != null "> and data_length = #{dataLength}</if>
            <if test="crc != null  and crc != ''"> and crc = #{crc}</if>
            <if test="moduleId != null "> and module_id = #{moduleId}</if>
            <if test="sendBuff != null  and sendBuff != ''"> and send_buff = #{sendBuff}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBusCommandOptionById" parameterType="Long" resultMap="BusCommandOptionResult">
        <include refid="selectBusCommandOptionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusCommandOption" parameterType="BusCommandOption" useGeneratedKeys="true" keyProperty="id">
        insert into bus_command_option
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentSelfId != null">equipment_self_id,</if>
            <if test="commandNo != null">command_no,</if>
            <if test="startAddress != null">start_address,</if>
            <if test="dataLength != null">data_length,</if>
            <if test="crc != null">crc,</if>
            <if test="moduleId != null">module_id,</if>
            <if test="sendBuff != null">send_buff,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentSelfId != null">#{equipmentSelfId},</if>
            <if test="commandNo != null">#{commandNo},</if>
            <if test="startAddress != null">#{startAddress},</if>
            <if test="dataLength != null">#{dataLength},</if>
            <if test="crc != null">#{crc},</if>
            <if test="moduleId != null">#{moduleId},</if>
            <if test="sendBuff != null">#{sendBuff},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBusCommandOption" parameterType="BusCommandOption">
        update bus_command_option
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentSelfId != null">equipment_self_id = #{equipmentSelfId},</if>
            <if test="commandNo != null">command_no = #{commandNo},</if>
            <if test="startAddress != null">start_address = #{startAddress},</if>
            <if test="dataLength != null">data_length = #{dataLength},</if>
            <if test="crc != null">crc = #{crc},</if>
            <if test="moduleId != null">module_id = #{moduleId},</if>
            <if test="sendBuff != null">send_buff = #{sendBuff},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusCommandOptionById" parameterType="Long">
        delete from bus_command_option where id = #{id}
    </delete>

    <delete id="deleteBusCommandOptionByIds" parameterType="String">
        delete from bus_command_option where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>