<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zefu.business.mapper.BusDataParserMapper">
    
    <resultMap type="BusDataParser" id="BusDataParserResult">
        <result property="id"    column="id"    />
        <result property="equipmentSelfId"    column="equipment_self_id"    />
        <result property="moduleId"    column="module_id"    />
        <result property="formula"    column="formula"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBusDataParserVo">
        select id, equipment_self_id, module_id, formula, status, create_by, create_time, update_by, update_time, remark from bus_data_parser
    </sql>

    <select id="selectBusDataParserList" parameterType="BusDataParser" resultMap="BusDataParserResult">
        <include refid="selectBusDataParserVo"/>
        <where>  
            <if test="equipmentSelfId != null  and equipmentSelfId != ''"> and equipment_self_id = #{equipmentSelfId}</if>
            <if test="moduleId != null "> and module_id = #{moduleId}</if>
            <if test="formula != null  and formula != ''"> and formula = #{formula}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBusDataParserById" parameterType="Long" resultMap="BusDataParserResult">
        <include refid="selectBusDataParserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusDataParser" parameterType="BusDataParser" useGeneratedKeys="true" keyProperty="id">
        insert into bus_data_parser
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentSelfId != null">equipment_self_id,</if>
            <if test="moduleId != null">module_id,</if>
            <if test="formula != null">formula,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentSelfId != null">#{equipmentSelfId},</if>
            <if test="moduleId != null">#{moduleId},</if>
            <if test="formula != null">#{formula},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBusDataParser" parameterType="BusDataParser">
        update bus_data_parser
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentSelfId != null">equipment_self_id = #{equipmentSelfId},</if>
            <if test="moduleId != null">module_id = #{moduleId},</if>
            <if test="formula != null">formula = #{formula},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusDataParserById" parameterType="Long">
        delete from bus_data_parser where id = #{id}
    </delete>

    <delete id="deleteBusDataParserByIds" parameterType="String">
        delete from bus_data_parser where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>