<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zefu.business.mapper.BusEquipmentModuleMapper">
    
    <resultMap type="BusEquipmentModule" id="BusEquipmentModuleResult">
        <result property="id"    column="id"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="moduleId"    column="module_id"    />
        <result property="moduleName"    column="module_name"    />
        <result property="equipmentName"    column="equipment_name"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBusEquipmentModuleVo">
        select id, equipment_id, module_id, module_name, equipment_name, serial_number, status, create_by, create_time, update_by, update_time, remark from bus_equipment_module
    </sql>

    <select id="selectBusEquipmentModuleList" parameterType="BusEquipmentModule" resultMap="BusEquipmentModuleResult">
        <include refid="selectBusEquipmentModuleVo"/>
        <where>  
            <if test="equipmentId != null "> and equipment_id = #{equipmentId}</if>
            <if test="moduleId != null "> and module_id = #{moduleId}</if>
            <if test="moduleName != null  and moduleName != ''"> and module_name like concat('%', #{moduleName}, '%')</if>
            <if test="equipmentName != null  and equipmentName != ''"> and equipment_name like concat('%', #{equipmentName}, '%')</if>
            <if test="serialNumber != null  and serialNumber != ''"> and serial_number = #{serialNumber}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBusEquipmentModuleById" parameterType="Long" resultMap="BusEquipmentModuleResult">
        <include refid="selectBusEquipmentModuleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusEquipmentModule" parameterType="BusEquipmentModule" useGeneratedKeys="true" keyProperty="id">
        insert into bus_equipment_module
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">equipment_id,</if>
            <if test="moduleId != null">module_id,</if>
            <if test="moduleName != null">module_name,</if>
            <if test="equipmentName != null">equipment_name,</if>
            <if test="serialNumber != null">serial_number,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="moduleId != null">#{moduleId},</if>
            <if test="moduleName != null">#{moduleName},</if>
            <if test="equipmentName != null">#{equipmentName},</if>
            <if test="serialNumber != null">#{serialNumber},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBusEquipmentModule" parameterType="BusEquipmentModule">
        update bus_equipment_module
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="moduleId != null">module_id = #{moduleId},</if>
            <if test="moduleName != null">module_name = #{moduleName},</if>
            <if test="equipmentName != null">equipment_name = #{equipmentName},</if>
            <if test="serialNumber != null">serial_number = #{serialNumber},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusEquipmentModuleById" parameterType="Long">
        delete from bus_equipment_module where id = #{id}
    </delete>

    <delete id="deleteBusEquipmentModuleByIds" parameterType="String">
        delete from bus_equipment_module where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>