<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zefu.business.mapper.BusEntityEquipmentMapper">
    
    <resultMap type="BusEntityEquipment" id="BusEntityEquipmentResult">
        <result property="id"    column="id"    />
        <result property="equipmentName"    column="equipment_name"    />
        <result property="equipmentNo"    column="equipment_no"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="equipmentPosition"    column="equipment_position"    />
        <result property="equipmentType"    column="equipment_type"    />
        <result property="entityId"    column="entity_id"    />
        <result property="sceneId"    column="scene_id"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBusEntityEquipmentVo">
        select id, equipment_name, equipment_no, equipment_id, equipment_position, equipment_type, entity_id, scene_id, status, create_by, create_time, update_by, update_time, remark from bus_entity_equipment
    </sql>

    <select id="selectBusEntityEquipmentList" parameterType="BusEntityEquipment" resultMap="BusEntityEquipmentResult">
        <include refid="selectBusEntityEquipmentVo"/>
        <where>  
            <if test="equipmentName != null  and equipmentName != ''"> and equipment_name like concat('%', #{equipmentName}, '%')</if>
            <if test="equipmentNo != null  and equipmentNo != ''"> and equipment_no = #{equipmentNo}</if>
            <if test="equipmentId != null "> and equipment_id = #{equipmentId}</if>
            <if test="equipmentPosition != null  and equipmentPosition != ''"> and equipment_position = #{equipmentPosition}</if>
            <if test="equipmentType != null  and equipmentType != ''"> and equipment_type = #{equipmentType}</if>
            <if test="entityId != null "> and entity_id = #{entityId}</if>
            <if test="sceneId != null "> and scene_id = #{sceneId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBusEntityEquipmentById" parameterType="Long" resultMap="BusEntityEquipmentResult">
        <include refid="selectBusEntityEquipmentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusEntityEquipment" parameterType="BusEntityEquipment" useGeneratedKeys="true" keyProperty="id">
        insert into bus_entity_equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentName != null">equipment_name,</if>
            <if test="equipmentNo != null">equipment_no,</if>
            <if test="equipmentId != null">equipment_id,</if>
            <if test="equipmentPosition != null">equipment_position,</if>
            <if test="equipmentType != null">equipment_type,</if>
            <if test="entityId != null">entity_id,</if>
            <if test="sceneId != null">scene_id,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentName != null">#{equipmentName},</if>
            <if test="equipmentNo != null">#{equipmentNo},</if>
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="equipmentPosition != null">#{equipmentPosition},</if>
            <if test="equipmentType != null">#{equipmentType},</if>
            <if test="entityId != null">#{entityId},</if>
            <if test="sceneId != null">#{sceneId},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBusEntityEquipment" parameterType="BusEntityEquipment">
        update bus_entity_equipment
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentName != null">equipment_name = #{equipmentName},</if>
            <if test="equipmentNo != null">equipment_no = #{equipmentNo},</if>
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="equipmentPosition != null">equipment_position = #{equipmentPosition},</if>
            <if test="equipmentType != null">equipment_type = #{equipmentType},</if>
            <if test="entityId != null">entity_id = #{entityId},</if>
            <if test="sceneId != null">scene_id = #{sceneId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusEntityEquipmentById" parameterType="Long">
        delete from bus_entity_equipment where id = #{id}
    </delete>

    <delete id="deleteBusEntityEquipmentByIds" parameterType="String">
        delete from bus_entity_equipment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>