<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zefu.business.mapper.BusMapPunctuationMapper">
    
    <resultMap type="BusMapPunctuation" id="BusMapPunctuationResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="content"    column="content"    />
        <result property="icon"    column="icon"    />
        <result property="status"    column="status"    />
        <result property="defId"    column="def_id"    />
        <result property="sceneId"    column="scene_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBusMapPunctuationVo">
        select id, name, longitude, latitude, content, icon, status, def_id, scene_id, create_by, create_time, update_by, update_time, remark from bus_map_punctuation
    </sql>

    <select id="selectBusMapPunctuationList" parameterType="BusMapPunctuation" resultMap="BusMapPunctuationResult">
        <include refid="selectBusMapPunctuationVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="longitude != null  and longitude != ''"> and longitude = #{longitude}</if>
            <if test="latitude != null  and latitude != ''"> and latitude = #{latitude}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="defId != null "> and def_id = #{defId}</if>
            <if test="sceneId != null "> and scene_id = #{sceneId}</if>
        </where>
    </select>
    
    <select id="selectBusMapPunctuationById" parameterType="Long" resultMap="BusMapPunctuationResult">
        <include refid="selectBusMapPunctuationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusMapPunctuation" parameterType="BusMapPunctuation" useGeneratedKeys="true" keyProperty="id">
        insert into bus_map_punctuation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="content != null">content,</if>
            <if test="icon != null">icon,</if>
            <if test="status != null">status,</if>
            <if test="defId != null">def_id,</if>
            <if test="sceneId != null">scene_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="content != null">#{content},</if>
            <if test="icon != null">#{icon},</if>
            <if test="status != null">#{status},</if>
            <if test="defId != null">#{defId},</if>
            <if test="sceneId != null">#{sceneId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBusMapPunctuation" parameterType="BusMapPunctuation">
        update bus_map_punctuation
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="content != null">content = #{content},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="status != null">status = #{status},</if>
            <if test="defId != null">def_id = #{defId},</if>
            <if test="sceneId != null">scene_id = #{sceneId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusMapPunctuationById" parameterType="Long">
        delete from bus_map_punctuation where id = #{id}
    </delete>

    <delete id="deleteBusMapPunctuationByIds" parameterType="String">
        delete from bus_map_punctuation where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>