<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zefu.business.mapper.BusProductFuncMapper">
    
    <resultMap type="BusProductFunc" id="BusProductFuncResult">
        <result property="id"    column="id"    />
        <result property="productId"    column="product_id"    />
        <result property="productCode"    column="product_code"    />
        <result property="funcName"    column="func_name"    />
        <result property="identifier"    column="identifier"    />
        <result property="funcType"    column="func_type"    />
        <result property="dataType"    column="data_type"    />
        <result property="dataDefine"    column="data_define"    />
        <result property="wrType"    column="wr_type"    />
        <result property="funcStatus"    column="func_status"    />
        <result property="funcDesc"    column="func_desc"    />
        <result property="unit"    column="unit"    />
        <result property="unitName"    column="unit_name"    />
        <result property="attr"    column="attr"    />
        <result property="eventType"    column="event_type"    />
        <result property="async"    column="async"    />
        <result property="inputParam"    column="input_param"    />
        <result property="outputParam"    column="output_param"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBusProductFuncVo">
        select id, product_id, product_code, func_name, identifier, func_type, data_type, data_define, wr_type, func_status, func_desc, unit, unit_name, attr, event_type, async, input_param, output_param, status, create_by, create_time, update_by, update_time, remark from bus_product_func
    </sql>

    <select id="selectBusProductFuncList" parameterType="BusProductFunc" resultMap="BusProductFuncResult">
        <include refid="selectBusProductFuncVo"/>
        <where>  
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="productCode != null  and productCode != ''"> and product_code = #{productCode}</if>
            <if test="funcName != null  and funcName != ''"> and func_name like concat('%', #{funcName}, '%')</if>
            <if test="identifier != null  and identifier != ''"> and identifier = #{identifier}</if>
            <if test="funcType != null  and funcType != ''"> and func_type = #{funcType}</if>
            <if test="dataType != null  and dataType != ''"> and data_type = #{dataType}</if>
            <if test="dataDefine != null  and dataDefine != ''"> and data_define = #{dataDefine}</if>
            <if test="wrType != null "> and wr_type = #{wrType}</if>
            <if test="funcStatus != null "> and func_status = #{funcStatus}</if>
            <if test="funcDesc != null  and funcDesc != ''"> and func_desc = #{funcDesc}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="unitName != null  and unitName != ''"> and unit_name like concat('%', #{unitName}, '%')</if>
            <if test="attr != null  and attr != ''"> and attr = #{attr}</if>
            <if test="eventType != null  and eventType != ''"> and event_type = #{eventType}</if>
            <if test="async != null "> and async = #{async}</if>
            <if test="inputParam != null  and inputParam != ''"> and input_param = #{inputParam}</if>
            <if test="outputParam != null  and outputParam != ''"> and output_param = #{outputParam}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </where>
    </select>
    
    <select id="selectBusProductFuncById" parameterType="Long" resultMap="BusProductFuncResult">
        <include refid="selectBusProductFuncVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusProductFunc" parameterType="BusProductFunc" useGeneratedKeys="true" keyProperty="id">
        insert into bus_product_func
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">product_id,</if>
            <if test="productCode != null">product_code,</if>
            <if test="funcName != null">func_name,</if>
            <if test="identifier != null">identifier,</if>
            <if test="funcType != null">func_type,</if>
            <if test="dataType != null">data_type,</if>
            <if test="dataDefine != null">data_define,</if>
            <if test="wrType != null">wr_type,</if>
            <if test="funcStatus != null">func_status,</if>
            <if test="funcDesc != null">func_desc,</if>
            <if test="unit != null">unit,</if>
            <if test="unitName != null">unit_name,</if>
            <if test="attr != null">attr,</if>
            <if test="eventType != null">event_type,</if>
            <if test="async != null">async,</if>
            <if test="inputParam != null">input_param,</if>
            <if test="outputParam != null">output_param,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            create_time,
            update_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">#{productId},</if>
            <if test="productCode != null">#{productCode},</if>
            <if test="funcName != null">#{funcName},</if>
            <if test="identifier != null">#{identifier},</if>
            <if test="funcType != null">#{funcType},</if>
            <if test="dataType != null">#{dataType},</if>
            <if test="dataDefine != null">#{dataDefine},</if>
            <if test="wrType != null">#{wrType},</if>
            <if test="funcStatus != null">#{funcStatus},</if>
            <if test="funcDesc != null">#{funcDesc},</if>
            <if test="unit != null">#{unit},</if>
            <if test="unitName != null">#{unitName},</if>
            <if test="attr != null">#{attr},</if>
            <if test="eventType != null">#{eventType},</if>
            <if test="async != null">#{async},</if>
            <if test="inputParam != null">#{inputParam},</if>
            <if test="outputParam != null">#{outputParam},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            sysdate(),
            sysdate()
         </trim>
    </insert>

    <update id="updateBusProductFunc" parameterType="BusProductFunc">
        update bus_product_func
        <trim prefix="SET" suffixOverrides=",">
            <if test="productId != null">product_id = #{productId},</if>
            <if test="productCode != null">product_code = #{productCode},</if>
            <if test="funcName != null">func_name = #{funcName},</if>
            <if test="identifier != null">identifier = #{identifier},</if>
            <if test="funcType != null">func_type = #{funcType},</if>
            <if test="dataType != null">data_type = #{dataType},</if>
            <if test="dataDefine != null">data_define = #{dataDefine},</if>
            <if test="wrType != null">wr_type = #{wrType},</if>
            <if test="funcStatus != null">func_status = #{funcStatus},</if>
            <if test="funcDesc != null">func_desc = #{funcDesc},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="unitName != null">unit_name = #{unitName},</if>
            <if test="attr != null">attr = #{attr},</if>
            <if test="eventType != null">event_type = #{eventType},</if>
            <if test="async != null">async = #{async},</if>
            <if test="inputParam != null">input_param = #{inputParam},</if>
            <if test="outputParam != null">output_param = #{outputParam},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusProductFuncById" parameterType="Long">
        delete from bus_product_func where id = #{id}
    </delete>

    <delete id="deleteBusProductFuncByIds" parameterType="String">
        delete from bus_product_func where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>